<!doctype html>
<html style="min-height:auto" >
    <head>
        <title>chrome-extension-template</title>
        <script src="/src/js/popup.js"></script>
    </head>
    <body>
        <div>
            <p id="url"></p>
            <input id="group" class="form-inline" type="text" style="display: inline;" />
            <input id="keyword1" class="form-inline" type="text" style="display: inline;" />
            <input id="keyword2" class="form-inline" type="text" style="display: inline;" />
            <button onclick="save()">Save Link</button>
        </div>
    </body>
</html>
